{% extends 'header_footer.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block 'content' %}

    <div style="margin-top:11%; margin-bottom:3%;" class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <p style="font-size:50px">Forgot Password</p>
                </center>
            </div>
        </div>
        <form class="password_reset" style="margin-top:4%"  method="post" action="{% url 'account_reset_password' %}"> {% csrf_token %}
        <div class="row">
            <div class="col-md-4">

            </div>

            <div class="col-md-4">
                <input style="width:100%; height:35px; border:1px solid gray; border-radius:5px; color:black;" type="text" id="id_email"  name="email" placeholder="Please Type Your Email-Id"><br><br>
            </div>

            <div class="col-md-4">

            </div>
        </div>

        <div class="row"   style="margin-top:1%">
            <div class="col-md-12">
                <center>
                    {% if redirect_field_value %}
                         <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <input style="width:20%; border-radius:5px; border:1px solid skyblue;" class="btn btn-primary" type="submit" value="Submit" />
                    <input style="width:20%; border-radius:5px; border:1px solid red;" class="btn btn-danger" type="reset" value="Reset" />

                </center>
            </div>
        </div>
        </form>
    </div>
{% endblock %}