{% extends 'header_footer.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block 'content' %}

    <div style="margin-top:11%; margin-bottom:3%;" class="col-md-12">
        <div class="row" style="margin-bottom:2%">
            <div class="col-md-12">
                <center>
                     <h2>
                        {% if token_fail %}
                        <p style="font-size:50px">Bad Token</p>
                        {% else %}
                        <p style="font-size:50px">Change Password</p>
                        {% endif %}
                    </h2>
                </center>
            </div>
        </div>
{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>

{% else %}
{% if form %}
    <form method="POST" action="{{ action_url }}" class="uniForm">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">

            </div>

            <div class="col-md-3">
                <input style="width:100%; height:35px; border:1px solid gray; border-radius:5px; color:black;" type="password" name="password1" id="id_password1" placeholder="New Password"><br><br>
            </div>

            <div class="col-md-3">
                <input style="width:100%; height:35px; border:1px solid gray; border-radius:5px; color:black;" type="password" name="password2" id="id_password2" placeholder="New Confirm Password"><br><br>
            </div>

            <div class="col-md-3">
            </div>
        </div>

        <div class="row"   style="margin-top:1%">
            <div class="col-md-12">
                <center>
                    {% if redirect_field_value %}
                         <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <input style="width:20%; border-radius:5px; border:1px solid skyblue;" class="btn btn-primary" type="submit" name="action" value="Submit" />
                    <input style="width:20%; border-radius:5px; border:1px solid red;" class="btn btn-danger" type="reset" value="Reset" />

                </center>
            </div>
        </div>
        </form>
        {% else %}
<p>{% trans 'Your password is now changed.' %}</p>
{% endif %}
{% endif %}

    </div>
{% endblock %}