{% extends 'header_footer.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block 'content' %}

    <div style="margin-top:11%; margin-bottom:3%;" class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <p style="font-size:50px">Sign Up</p>
                </center>
            </div>
        </div>
        <form class="signup" style="margin-top:4%" id="signup_form" method="post" action="{% url 'account_signup' %}"> {% csrf_token %}
        <div class="row">
            <div class="col-md-3">

            </div>

            <div class="col-md-3">
                <input style="width:100%; height:35px; border:1px solid gray; border-radius:5px; color:black;" type="text" name="username" placeholder="User name"><br><br>
            </div>

            <div class="col-md-3">
                <input style="width:100%; height:35px; border:1px solid gray; border-radius:5px; color:black;" type="email" name="email" placeholder="Email"><br><br>
            </div>

            <div class="col-md-3">

            </div>
        </div>

        <div class="row">
            <div class="col-md-3">

            </div>

            <div class="col-md-3">
                <input style="width:100%; height:35px; border:1px solid gray; border-radius:5px; color:black;" type="password" name="password1" placeholder="password"><br><br>
            </div>

            <div class="col-md-3">
                <input style="width:100%; height:35px; border:1px solid gray; border-radius:5px; color:black;" type="password" name="password2" placeholder="confirm password"><br><br>
            </div>

            <div class="col-md-3">

            </div>
        </div>


        <div class="row"   style="margin-top:1%">
            <div class="col-md-12">
                <center>
                    {% if redirect_field_value %}
                         <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <input style="width:30%; border-radius:5px; border:1px solid skyblue;" class="btn btn-primary" type="submit" value="Sign up" />
                </center>
            </div>
        </div>

         <div class="row" style="margin-top:1%">
            <div class="col-md-12">
                <center>
                    <h6>{% blocktrans %}Already have an account? Then please <a style="color:blue;" href="{{ login_url }}">sign in</a> ...{% endblocktrans %}</h6>
                </center>
            </div>
         </div>
        </form>
    </div>
{% endblock %}