{% extends 'common.html' %}
{% load static %}
{% block content %}

<div class="hero">
<section class="home-slider owl-carousel">
<div class="slider-item" style="background-image:url({% static 'images/bg_1.jpg'%});">
<div class="overlay"></div>
<div class="container">
<div class="row no-gutters slider-text align-items-center justify-content-end">
<div class="col-md-6 ftco-animate">
<div class="text">
<h2>More than a club... an experience</h2>
<h1 class="mb-3">Club for the whole family, all year round.</h1>
</div>
</div>
</div>
</div>
</div>
<div class="slider-item" style="background-image:url({% static 'images/bg_2.jpg'%});">
<div class="overlay"></div>
<div class="container">
<div class="row no-gutters slider-text align-items-center justify-content-end">
<div class="col-md-6 ftco-animate">
<div class="text">
<h2> TheInferno Club</h2>
<h1 class="mb-3">It feels like staying in your own home.</h1>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<section class="ftco-section">
<div class="container">
<div class="row justify-content-center mb-5 pb-3">
<div class="col-md-7 heading-section text-center ftco-animate">
<span class="subheading">Welcome to TheInferno Club</span>
<h2 class="mb-4">You'll Never Want To Leave</h2>
</div>
</div>
<div class="row d-flex">
<div class="col-md pr-md-1 d-flex align-self-stretch ftco-animate">
<div class="media block-6 services py-4 d-block text-center">
<div class="d-flex justify-content-center">
<div class="icon d-flex align-items-center justify-content-center">
<span class="flaticon-reception-bell"></span>
</div>
</div>
<div class="media-body">
<h3 class="heading mb-3">Friendly Service</h3>
</div>
</div>
</div>
<div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
<div class="media block-6 services active py-4 d-block text-center">
<div class="d-flex justify-content-center">
<div class="icon d-flex align-items-center justify-content-center">
<span class="flaticon-serving-dish"></span>
</div>
</div>
<div class="media-body">
<h3 class="heading mb-3">Delicious Cuisines</h3>
</div>
</div>
</div>
<div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
<div class="media block-6 services py-4 d-block text-center">
<div class="d-flex justify-content-center">
<div class="icon d-flex align-items-center justify-content-center">
<span class="flaticon-spa"></span>
</div>
</div>
<div class="media-body">
<h3 class="heading mb-3">Suits &amp; SPA</h3>
</div>
</div>
</div>
<div class="col-md pl-md-1 d-flex align-self-stretch ftco-animate">
<div class="media block-6 services py-4 d-block text-center">
<div class="d-flex justify-content-center">
<div class="icon d-flex align-items-center justify-content-center">
<span class="ion-ios-bed"></span>
</div>
</div>
<div class="media-body">
<h3 class="heading mb-3">Lounge Area</h3>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="ftco-section ftco-wrap-about ftco-no-pt ftco-no-pb">
<div class="container">
<div class="row no-gutters">
<div class="col-md-7 order-md-last d-flex">
<div class="img img-1 mr-md-2 ftco-animate" style="background-image: url({% static 'images/about-1.jpg'%});"></div>
<div class="img img-2 ml-md-2 ftco-animate" style="background-image: url({% static 'images/about-2.jpg'%});"></div>
</div>
<div class="col-md-5 wrap-about pb-md-3 ftco-animate pr-md-5 pb-md-5 pt-md-4">
<div class="heading-section mb-4 my-5 my-md-0">
<span class="subheading">About TheInferno Club</span>
<h2 class="mb-4">TheInferno Club - the Most Recommended Club All Over India</h2>
</div>
<p>A prestigious name known among the most known clubs and recreational organisations of Ahmedabad, is TheInferno Club. The club is a social treat comprising of amenities to fulfil your relaxations with twists and fun!</p>
<!-- <p><a href="#" class="btn btn-secondary rounded">Book Membership</a></p>-->
</div>
</div>
</div>
</section>
<section class="testimony-section">
<div class="container">
<div class="row no-gutters ftco-animate justify-content-center">
<div class="col-md-5 d-flex">
<div class="testimony-img aside-stretch-2" style="background-image: url({% static 'images/testimony-img.jpg' %});"></div>
</div>
<div class="col-md-7 py-5 pl-md-5">
<div class="py-md-5">
<div class="heading-section ftco-animate mb-4">
<div class="col-md-7 py-5 pl-md-5">
<div class="py-md-5">
<div class="heading-section ftco-animate mb-4">
<span class="subheading">Testimony</span>
<h2 class="mb-0">Happy Customer</h2>
</div>
<div class="carousel-testimony owl-carousel ftco-animate">
<div class="item">
<div class="testimony-wrap pb-4">
<div class="text">
<p class="mb-4">Well kept and happening place. Lots to do for single person and groups alike. The club has well spread layout offering pool, table tennis,  cricket pitch, and hist of other games. It boosts of 4 restaurant offering different cuisines.
Members enjoys and were seen having a great time.</p>
</div>
<div class="d-flex">
<div class="user-img" style="background-image: url({% static 'images/person_1.jpg'%})">
</div>
<div class="pos ml-3">
<p class="name">Kathan Thakkar</p>
<span class="position">Businessman</span>
</div>
</div>
</div>
</div>
<div class="item">
<div class="testimony-wrap pb-4">
<div class="text">
<p class="mb-4">A fantastic club for fun and relaxation..
The expanse is unbelievable..all facilities available.and the food was delicious...</p>
</div>
<div class="d-flex">
<div class="user-img" style="background-image: url({% static 'images/person_2.jpg'%})">
</div>
<div class="pos ml-3">
<p class="name">Tarun Patel</p>
<span class="position">Businessman</span>
</div>
</div>
</div>
</div>
<div class="item">
<div class="testimony-wrap pb-4">
<div class="text">
<p class="mb-4">It is very old and well organized club with facilities for all requirements. Well maintained and administered.</p>
</div>
<div class="d-flex">
<div class="user-img" style="background-image: url({% static 'images/person_3.jpg'%})">
</div>
<div class="pos ml-3">
<p class="name">Parth Shah</p>
<span class="position">Lawyer</span>
</div>
</div>
</div>
</div>
<div class="item">
<div class="testimony-wrap pb-4">
<div class="text">
<p class="mb-4">It is one of the most lavish and luxurious club located on s.g highway with every modern amenities but with my personal  experience especially when it comes to banquet hall of Karnavati club it is wonderful, truly amazing and it is above our expectations ,it is sparky,vivacious and well maintained and distinctly it has the best ambience.
</p>
</div>
<div class="d-flex">
<div class="user-img" style="background-image: url({% static 'images/person_4.jpg'%})">
</div>
<div class="pos ml-3">
<p class="name">Amy Patel</p>
<span class="position">Doctor</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}