{% extends 'common.html' %}

{% load static %}
{% load i18n %}
{% block content %}
<div class="hero-wrap" style="background-image: url({% static 'images/bg_3.jpg' %});">
    <div class="overlay"></div>
</div>
    <div style="margin-top:11%; margin-bottom:3%;" class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <p style="font-size:40px">Password Changed</p>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <center>
                    <p style="font-size:15px; margin-top:2%;">Go back to login, <a style="color: blue" href="{% url 'account_login' %}">click here ...</a></p>
                </center>
            </div>
        </div>
    </div>
{% endblock %}