{% extends 'header_footer.html' %}

{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% block 'content' %}

    <div  style="margin-top:11%; margin-bottom:3%;" class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <p style="font-size:50px; margin-bottom:2%;">All Contact</p>
                </center>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <center>
                    <table class="table" style="margin-top:5%;margin-bottom:10%;">
            <thead class="thead-light">
              <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Subject</th>
                  <th scope="col">Message</th>
              </tr>
            </thead>
            {% for i in data %}

            <tbody>
              <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.subject }}</td>
                <td> <pre> {{ i.message }}</pre></td>

              </tr>
            {% endfor %}
            </tbody>
        </table>
                </center>
            </div>
        </div>
        </div>

    </div>
{% endblock %}