{% extends 'header_footer.html' %}

{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% block 'content' %}

<div style="margin-top:10%;" class="container">
    <div class="row">
        <div class="col-md-12">
            <center>
                <h3><u><b>Services Provided by The Inferno</b></u></h3>
            </center>
        </div>
    </div>

    <div style="margin-top:2%;" class="row">
        <div class="col-md-3">

        </div>

        <div class="col-md-3">
             <center>
                <ul style="list-style-type:none;">
                <li>Swimming</li>
                <li>Basket Ball</li>
                <li>Foot Ball</li>
                <li>Tennis(court)</li>
                <li>Party Plot</li>
            </ul>
             </center>

        </div>

        <div class="col-md-3">
            <center>
                <ul style="list-style-type:none;">
                <li>Banquet</li>
                <li>Gym</li>
                <li>spa</li>
                <li>Theater</li>
                <li>Gaming Zone</li>
            </ul>
            </center>

        </div>

        <div class="col-md-3">

        </div>
    </div>

    <div class="row">
        <center style="margin-bottom:1.5%"><h3><u><b>Payment Details</b></u></h3></center>
<div>
    <ul style="list-style-type:square">
        <li>You ned to pay <b>20,000(Twenty Thousand rupees)</b> to access club for the period of <b>1 year.</b></li>
        <li>The payment method is cash. you need to meet admin club-The Inferno and make payment.</li>
        <li>Login_id and Password is provided by admin.</li>
        <li>As you login into club website you will get a verification link on your registered email Id. You need to open the link and verify yourself first. </li>
        <li>This verification link is valid only for 1 day. If you forget to verify yourself after login, after 1 day link will expire. after that you need to contact admin to resend the verification link.</li>
        <li>Without verifying yourself  you can not access anything in club like booking club for any activity.
        <li>After verification process, You need to login into website and need to complete Profile.<b>It is Compulsary Process. Without completing profile you cannot book any Amenities provided by the club.</b></li>
        <li>As you complete your profile you </li>
    </li></ul>
</div>
    </div>
</div>

{% endblock %}